<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>All Tweets</h1>
      <div>
        <%= link_to 'Tweets', admin_tweets_path %> |
        <%= link_to 'Users', admin_users_path %>
      </div>
      <br>
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Tweet</th>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @tweets.each do |tweet| %>
          <tr>
            <td><%= tweet.post %></td>
            <td><%= tweet.user.username %></td>
            <td>
              <%= link_to 'Show', admin_tweet_path(tweet) %>
              <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>