<div class="container d-flex justify-content-center tweet-table">
  <div class="row">
    <div class="col-md-12">
      <%= form_for [@tweet] do |f| %>
      <%= f.label :post, "Tweet" %>
      <%= f.text_field :post %>

      <%= f.submit %>
      <% end %>
      <h1>Tweet</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Tweet</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @user_tweet.each do |tweet| %>
          <tr>
            <td><%= tweet.post %></td>
            <td><%= link_to '♡ Like', tweet.like, remote: true %></td>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>