<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card">
        <div class="card-body">
          <%= image_tag @user.image, class: "img-fluid rounded mx-auto" %>
          <h5><%= @user.name.capitalize %></h5>
          <h7 class="text-colour">@<%= @user.username %></h7>
          <div>Joined <%= @user.created_at.strftime("%B %Y") %></div>
          <% if @user.tweets.count <= 1 %>
            <div><%= @user.tweets.count %> tweet</div>
          <% else %>
            <div><%= @user.tweets.count %> tweets</div>
          <% end %>
          <br>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Trending
          <% @tags.each do |tag| %>
            <p><%= link_to tag.content, tag_path(tag) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <%= form_for [@tweet] do |f| %>
      <div class="form-group">
      <%= f.text_area :post, class: 'form-control', rows: 1, placeholder: "What's happening?", maxlength: 140, id: 'textbox' %>
       <div align="right"><span id="chars">140</span> characters remaining</div>
      </div>
      <div class="form-group d-flex justify-content-end">
        <%= f.submit "Tweet", class: 'btn btn-primary', id: 'submitButtonId' %>
      </div>
      <% end %>
      <% @user_tweet.each do |tweet| %>
      <div class="card">
        <div class="card-body">
          <small><b><%= @user.name %></b> <i>@<%= link_to @user.username, user_path(@user) %></i> - <%= distance_of_time_in_words(tweet.created_at, Time.now)%> ago</small>
          <p><%= tweet.post %></p>
            <%=  link_to (icon("far", "comment")), tweet_path(tweet) %> <%= tweet.replies.count %>&nbsp;&nbsp;&nbsp;&nbsp;
          <div id="likes">
            <div id="likes-buttons_<%= tweet.id %>">
              <%= render "likes_buttons", tweet: tweet %>
            </div>
          </div>
          <div id="counters">
            <div id="id-counter_<%= tweet.id %>">
              <%= render "counter", tweet: tweet %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% @user_following.each do |following| %>
        <% following.tweets.each do |tweet| %>
          <div class="card">
            <div class="card-body">
              <small><b><%= following.name %></b> <i>@<%= link_to following.username, user_path(following) %></i> - <%= distance_of_time_in_words(tweet.created_at, Time.now)%> ago</small>
              <%=  link_to (icon("far", "comment")), tweet_path(tweet) %> <%= tweet.replies.count %>&nbsp;&nbsp;&nbsp;&nbsp;
              <div id="likes">
                <div id="likes-buttons_<%= tweet.id %>">
                  <%= render "likes_buttons", tweet: tweet %>
                </div>
              </div>
              <div id="counters">
                <div id="id-counter_<%= tweet.id %>">
                  <%= render "counter", tweet: tweet %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card">
        <div class="card-body">
          <p>Your 10 Followers</p>
          <% @user_followers.each do |follower| %></p>
            <p><b><%= follower.name %></b> <i>@<%= link_to follower.username, user_path(follower) %></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>