<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card">
        <div class="card-body">
          <%= image_tag @user.image, class: "img-fluid rounded mx-auto" %>
          <h2><%= @user.name.capitalize %></h2>
          <h7 class="text-colour">@<%= @user.username %></h7>
          <div>Joined <%= @user.created_at.strftime("%B %Y") %></div>
          <div><%= simple_format @user.bio %></div>
          <br>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
            <br>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-outline-primary" %>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <br>
      </div>
    </div>
    <div class="col-md-6 mt-3">
    <% @users.each do |user| %>
      <div class="card">
        <div class="card-body">
          <small><b><%= user.name %></b> <i>@<%= link_to user.username, user_path(user) %></i></small>
          <p>Latest Tweet: <%= user.tweets.last.try(:post) %></p>
              <p><strong><%= Relationship.where(follower_id: user.id).count %></strong> following <strong><%= Relationship.where(following_id: user.id).count %></strong> followers</p>
          <p><%= render partial: 'follow_form', locals: {user: user} %></p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card">
        <div class="card-body">
          <p>Who to follow <%=  %></p>
        </div>
      </div>
    </div>
  </div>
</div>