<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-3">
      <div class="row">
        <div class="col-md-3 col-sm-4">
            <%= image_tag @user.image, class: "img-fluid rounded mx-auto" %>
        </div>
        <div class="col-md-7 col-sm-8 mb-3 ml-2">
          <h2><%= @user.name %></h2>
          <h2><%= @user.username %></h2>
          <p><strong><%= @user.email %></strong></p>
          <div><%= simple_format @user.bio %></div>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <br>
      </div>
    </div>
  </div>
  <% @user_tweet.each do |tweet| %>
    <div class="card">
      <div class="card-body">
        <small><b><%= @user.name %></b> <i>@<%= @user.username %></i> Created <%= distance_of_time_in_words(tweet.created_at, Time.now)%> ago</small>
        <p><%= tweet.post %></p>
      </div>
    </div>
    <% end %>
</div>