<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card">
        <div class="card-body">
          <%= image_tag @user.image, class: "img-fluid rounded mx-auto" %>
          <h5><%= @user.name.capitalize %></h5>
          <h7 class="text-colour">@<%= @user.username %></h7>
          <div>Joined <%= @user.created_at.strftime("%B %Y") %></div>
          <% if @user.tweets.count <= 1 %>
            <div><%= @user.tweets.count %> tweet</div>
          <% else %>
            <div><%= @user.tweets.count %> tweets</div>
          <% end %>
          <% if @user != current_user %>
            <div id="follow_<%= @user.id %>">
              <p><%= render partial: 'follow_form', locals: {user: @user} %></p>
            </div>
          <% end %>
          <div><%= simple_format @user.bio %></div>
          <br>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
            <br>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-outline-primary" %>
          <% end %>
        </div>
        <br>
      </div>
      <div class="card">
        <div class="card-body">
          <h5>Trending</h5>
          <% @tags.each do |tag| %>
            <p><%= link_to tag.content, tag_path(tag) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
    <% @user_tweet.each do |tweet| %>
      <div class="card">
        <div class="card-body">
          <small><b><%= @user.name %></b> <i>@<%= @user.username %></i> Created <%= distance_of_time_in_words(tweet.created_at, Time.now)%> ago</small>
          <p><%= tweet.post %></p>
          <%=  link_to (icon("far", "comment")), tweet_path(tweet) %> <%= Reply.where(tweet_id: tweet.id).count %>&nbsp;&nbsp;&nbsp;&nbsp;
          <div id="likes">
            <div id="likes-buttons_<%= tweet.id %>">
              <%= render "likes_buttons", tweet: tweet %>
            </div>
          </div>
          <div id="counters">
            <div id="id-counter_<%= tweet.id %>">
              <%= render "counter", tweet: tweet %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card">
        <div class="card-body">
          <p><%= @user.name.capitalize %>'s 10 Followers</p>
          <% @user_followers.each do |follower| %></p>
            <p><b><%= follower.name %></b> <i>@<%= link_to follower.username, user_path(follower) %></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>