<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>All Tweets</h1>
      <div>
        <%= link_to 'Tweets', admin_tweets_path %> |
        <%= link_to 'Users', admin_users_path %>
      </div>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Tweet Count</th>
            <th scope="col">Following Count</th>
            <th scope="col">Followers Count</th>
            <th scope="col">Like Count</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.tweets.count %></td>
            <td><%= Relationship.where(follower_id: user.id).count %></td>
            <td><%= Relationship.where(following_id: user.id).count %></td>
            <td><%=  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>