<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Clone</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="bg-color">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <% if current_user %>
            <li class="navbar-text">Hi, <%= current_user.name.capitalize %></li>
            <% if current_user.admin? %>
              <li class="nav-item"><%= link_to('Admin', admin_tweets_path, class: 'nav-link') %></li>
            <% end %>
            <li class="nav-item navbar-nav"><%= link_to('Profile', user_path(current_user), class: 'nav-link') %></li> 
            <li class="nav-item navbar-nav"><%= link_to('Users', users_path(@users), class: 'nav-link') %></li> 
            <li class="nav-item navbar-nav"><%= link_to('Log out', destroy_user_session_path, method: :delete, class: 'nav-link') %></li> 
            <li class="nav-item navbar-nav"><%= link_to('Change password', edit_user_registration_path , class: 'nav-link') %></li>
          <% else %>
            <li class="navbar-nav nav-item"><%= link_to('Register', new_user_registration_path, class: 'nav-link') %></li> 
            <li class="navbar-nav nav-item"><%= link_to('Log in', new_user_session_path, class: 'nav-link') %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="container-fluid">
        <div class="row">
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="container-fluid">
        <div class="row">
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
